<ion-view title="'朋友列表'"> <ion-content has-header="true" has-tabs="true" padding="true">

<h3 ng-show="friendInvitations.length!=0">好友邀請</h3>

<div class="list" ng-show="friendInvitations.length!=0">
	<div class="item"
		ng-repeat="friendInvitation in friendInvitations">
		{{friendInvitation.name}}
		<button class="button button-balanced button-small" ng-click="clickAccept(friendInvitation.mid)">接受</button>
		<button class="button button-assertive button-small" ng-click="clickReject(friendInvitation.mid)">拒絕</button>
	</div>
</div>


<h3 ng-show="friends.length!=0">好友清單</h3>
<div class="list" ng-show="friend.length!=0">
	<a class="item" href="#/chatRoom?name={{friend.name}}&mid={{friend.mid}}"  ng-repeat="friend in friends" ng-click="clickFriend(friend.mid)">
		<h2>{{friend.name}}</h2>
		<p>{{friend.state}}</p>
	</a>
</div>

<h3 ng-show="friends.length==0">你沒有任何朋友</h3>

</ion-content> </ion-view>