<ion-view title="'朋友列表'"> <ion-content has-header="true"
	has-tabs="true" padding="true">

<h3 ng-show="friendInvitations.length!=0">好友邀請</h3>

<div ng-show="friendInvitations.length!=0"
	ng-repeat="friendInvitation in friendInvitations">
	<a class="item item-avatar"> <img src="venkman.jpg">
		<h2>{{friendInvitation.name}}</h2>
		<p>mid={{friendInvitation.mid}}</p>
		<button  class="button button-positive">接受</button>
		<button  class="button button-positive">拒絕</button>
	</a>
</div>


<h3 ng-show="friendInvitations.length!=0">好友清單</h3>
<div ng-show="friend.length!=0" ng-repeat="friend in friends">
	<a class="item item-avatar" href="#/chatRoom?name={{friend.name}}"> <img src="venkman.jpg">
		<h2>{{friend.name}}</h2>
		<p>{{friend.mid}}</p>
	</a>
</div>

<h3 ng-show="friends.length==0">你沒有任何朋友</h3>

</ion-content> </ion-view>