<ion-view title="'登入'">
    <ion-content has-header="true" has-tabs="true" padding="true">
    	<h3>{{error.message}}</h3>
		<label class="item item-input">
		    <span class="input-label">帳號</span>
		    	<input type="text" ng-model="member.id">
	  	</label>
		<label class="item item-input">
		    <span class="input-label">密碼</span>
		    <input type="password" ng-model="member.password">
		</label>
		<button class="button button-full button-balanced" ng-click="onLoginClick()" >
		  登入
		</button>
		<button class="button button-full button-positive" ng-click="onSignupClick()" >
		  註冊
		</button>
    </ion-content>
</ion-view>