<ion-view title="'個人設定'">
    <ion-content has-header="true" has-tabs="true" padding="true">
    <h3>{{error.message}}</h3>
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">暱稱：</span>
		    <input type="text" ng-model="preference.name">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">狀態：</span>
		    <input type="text" ng-model="preference.state">
		  </label>
		</div>
		<button class="button button-block button-balanced" ng-click="clickEdit()">修改</button>
		<button class="button button-block button-stable" ng-click="clickRecovery()">還原</button>
		<button class="button button-block button-energized" ng-click="clickLogOut()">登出</button>
    </ion-content>
    
</ion-view>